:root {
  --color-bg: #535353aa;
  --color-bg-hover: #878787aa;
  --color-bg-focus: #eeeeee;
  --color-text: white;
  --color-icon: #888;

  --nav-items-size: 40px;
}

/* Nav and links */
nav {
  position: relative; /* for absolute positioning of center */
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-left {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.nav-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
}

@media (max-width: 800px) {
  .link-label {
    display: none;
  }
}

/* Search wrapper */
.search-wrapper {
  height: var(--nav-items-size);
  flex: 1;
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-bg);
  width: 50%;
  transition: box-shadow 0.2s, background-color 0.3s;
  cursor: text;
}

/* Hover or focus highlights */
.search-wrapper:hover,
.search-wrapper:focus-within {
  background-color: var(--color-bg-hover);
}

/* Focus outline */
.search-wrapper:focus-within {
  box-shadow: 0 0 0 2px var(--color-bg-focus);
}

/* Input styling */
.search-wrapper > input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-text);
  padding: 4px 8px 4px 10px; /* top, right, bottom, left */
}

/* Icon styling */
.search-wrapper .search-icon {
  pointer-events: none;
  color: var(--color-icon);
}
