a .link {
  position: relative;
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  width: var(--nav-items-size);
  height: var(--nav-items-size);
  padding: 2px;
  justify-content: center;
  flex-shrink: 0;
  background-color: var(--color-bg);
  border-radius: 50%;
  transition: background-color 0.2s, filter 0.2s;
}

.link:hover {
  filter: drop-shadow(0 0 0.15rem var(--color-bg-focus));
  box-shadow: 0 0 0 1px var(--color-bg-focus);
}

.copy-link-btn:hover {
  filter: drop-shadow(0 0 0.15rem var(--color-bg-focus));
  box-shadow: 0 0 0 1px var(--color-bg-focus);
}

.link-label {
  position: absolute;
  left: 50px; /* distance from icon */
  background-color: #222;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.2s, transform 0.2s;
  pointer-events: none; /* so label itself doesn’t block hover */
}

.link:hover .link-label {
  opacity: 1;
  transform: translateY(-25%) translateX(0);
}

@media (max-width: 800px) {
  .link-label,
  .email-text {
    display: none; /* hide label entirely */
  }
}

.copy-link-wrapper {
  display: flex;
  gap: 10px;
  padding-right: 20px;
  align-items: center;
  max-width: 250px;
}

.email-text {
  color: white;
  font-family: monospace; /* optional, makes it look like code/email */
  user-select: all; /* allow easy manual copy too */
}
